.component {
  background: #f4cd8a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  margin: 10px;
}

.card {
  background: #fef1cc;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

input[type='text'],
input[type='email'] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.history-table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin-top: 10px;
}

.history-table th,
.history-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
